@media(max-width:1240px) {
    .header_ul {
        display: none;
    }

    .header_article {
        display: none;

    }


    .section4_guitar {
        width: 282px;
        height: 290px;
        object-fit: cover;
    }

    .burger {
        display: block;
    }

}

@media(max-width:1124px) {

    header {
        padding-left: 94px;
        padding-right: 102px;
    }
}



@media(max-width:1020px) {
  


}


@media(max-width:950px) {}


@media(max-width:850px) {}